
        <router-outlet><router-outlet>
  
        

            
<div style="max-width: 600px; margin:auto; background-color: #ffffff;" class="p-4">
    <form [formGroup]="formModelProperty"  autocomplete="off" (submit)="onSubmit()">
    
        <!-- <input type="hidden" name="CardId" [value]="formModelProperty.CardId"> -->
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <i class="fas fa-user-circle" [class.green-icon]="LandOwnerName" [class.red-icon]="LandOwnerName &&LandOwnerName.touched">LandOwnerName</i>
                    </div>
                </div>
                <input name="LandOwnerName" type="text" formControlName="LandOwnerName" [(ngModel)]="formModelProperty.LandOwnerName"
            class="form-control" id="first" placeholder="Land Owner Name" required>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <i class="fas fa-user-circle" [class.green-icon]="PropertyType" [class.red-icon]="PropertyType &&PropertyType.touched">PropertyType</i>
                    </div>
                </div>
                <input name="PropertyType" type="text" formControlName="PropertyType" [(ngModel)]="formModelProperty.PropertyType"
            class="form-control" id="first" placeholder="Property Type" required>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <i class="fas fa-user-circle" [class.green-icon]="PercentageMortgaged" [class.red-icon]="PercentageMortgaged &&PercentageMortgaged.touched">PercentageMortgaged</i>
                    </div>
                </div>
                <input name="PercentageMortgaged" type="text" formControlName="PercentageMortgaged" [(ngModel)]="formModelProperty.PercentageMortgaged"
            class="form-control" id="first" placeholder="Percentage %" required>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <i class="fas fa-user-circle" [class.green-icon]="BankMortgaging" [class.red-icon]="BankMortgaging &&BankMortgaging.touched">BankMortgaging</i>
                    </div>
                </div>
                <input name="BankMortgaging" type="text" formControlName="BankMortgaging" [(ngModel)]="formModelProperty.BankMortgaging"
            class="form-control" id="first" placeholder="Bank" required>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <i class="fas fa-user-circle" [class.green-icon]="NatureOfDeeds" [class.red-icon]="NatureOfDeeds &&NatureOfDeeds.touched">NatureOfDeeds</i>
                    </div>
                </div>
                <input name="NatureOfDeeds" type="text" formControlName="NatureOfDeeds" [(ngModel)]="formModelProperty.NatureOfDeeds"
            class="form-control" id="first" placeholder="Nature of Deeds" required>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <i class="fas fa-user-circle" [class.green-icon]="Registered" [class.red-icon]="Registered &&Registered.touched">Registered</i>
                    </div>
                </div>
                <input name="Registered" type="text" formControlName="Registered" [(ngModel)]="formModelProperty.Registered"
            class="form-control" id="first" placeholder="Registered?" required>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <i class="fas fa-user-circle" [class.green-icon]="Volume" [class.red-icon]="Volume &&Volume.touched">Volume</i>
                    </div>
                </div>
                <input name="Volume" type="text" formControlName="Volume" [(ngModel)]="formModelProperty.Volume"
            class="form-control" id="first" placeholder="Volume" required>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <i class="fas fa-user-circle" [class.green-icon]="Number" [class.red-icon]="Number &&Number.touched">Number</i>
                    </div>
                </div>
                <input name="Number" type="text" formControlName="Number" [(ngModel)]="formModelProperty.Number"
            class="form-control" id="first" placeholder="Number" required>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <i class="fas fa-user-circle" [class.green-icon]="Page" [class.red-icon]="Page &&Page.touched">Page</i>
                    </div>
                </div>
                <input name="Page" type="text" formControlName="Page" [(ngModel)]="formModelProperty.Page"
            class="form-control" id="first" placeholder="Page" required>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <i class="fas fa-user-circle" [class.green-icon]="PlanNumber" [class.red-icon]="PlanNumber &&PlanNumber.touched">PlanNumber</i>
                    </div>
                </div>
                <input name="PlanNumber" type="text" formControlName="PlanNumber" [(ngModel)]="formModelProperty.PlanNumber"
            class="form-control" id="first" placeholder="Plan Number" required>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <i class="fas fa-user-circle" [class.green-icon]="ReceiptNumber" [class.red-icon]="ReceiptNumber &&ReceiptNumber.touched">ReceiptNumber</i>
                    </div>
                </div>
                <input name="ReceiptNumber" type="text" formControlName="ReceiptNumber" [(ngModel)]="formModelProperty.ReceiptNumber"
            class="form-control" id="first" placeholder="Receipt Number" required>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <i class="fas fa-user-circle" [class.green-icon]="FileReference" [class.red-icon]="FileReference &&FileReference.touched">FileReference</i>
                    </div>
                </div>
                <input name="FileReference" type="text" formControlName="FileReference" [(ngModel)]="formModelProperty.FileReference"
            class="form-control" id="first" placeholder="File Reference" required>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <i class="fas fa-user-circle" [class.green-icon]="SerialNumber" [class.red-icon]="SerialNumber &&SerialNumber.touched">SerialNumber</i>
                    </div>
                </div>
                <input name="SerialNumber" type="text" formControlName="SerialNumber" [(ngModel)]="formModelProperty.SerialNumber"
            class="form-control" id="first" placeholder="Serial Number" required>
            </div>
        </div>
        
        <div class="form-group">
            <button class="btn btn-success btn-lg btn-block" type="submit" [disabled]="form"><i class="fas fa-database "> Submit</i></button>
        </div>
    </form>
    
    </div>