<!-- <!doctype html>
<html lang="en">
    <head BGCOLOR="BLUE">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
		<link rel="stylesheet" href="styles/websitestyle.css" type="text/css">
        <style>
        html, body {
            background-color: blue;
        }
        </style>
		
		<script>
				function setActive() {
				  aObj = document.getElementById('navi').getElementsByTagName('a');
				  for(i=0;i<aObj.length;i++) { 
					if(document.location.href.indexOf(aObj[i].href)>=0) {
					  aObj[i].className='active';
					}
				  }
				}
				window.onload = setActive;
		</script>
</head>
<body> -->

<header>
  <marquee BGCOLOR="BLUE"><b>LAND VERIFICATION AND MORTGAGE REGISTRATION SYSTEM</b></marquee> 
 
  </header>
<nav>

<ul id="navi">
	<li><a href="index.html">Home</a></li>
	<li><a href="AkureMap.html">Verify Title page</a></li>
	<li><a href="About.html">About</a></li>
</ul>
</nav>

<section>
  <aside style= "padding-top: 0; padding-left: 40px; padding-right: 30px; text-align:justify;">
  <h3><br>
  This is a prototype web site for verifying land ownerships and registering mortgages on lands.

From this web, land registry can upload and update appropriate and necessary land information required by banks to perform their verification and mortgage registrations. Banks and other mortgaging institutions can confirm land information supplied by clients and further register the new mortgage with the land services after paying a token..<br><br>
  Also banks can also perform land title verification and register their mortgages on lands.<br>
  <br><br>
  This web map page was built using OpenLayers API and JavaScript in order to visualize the land information on the land parcels served as WMS.<br>
  <br><a style="color:blue;"><h2><i>most popular services</i></h2></a><br>
  <li>Verifying of land title's authenticity</li><br><br>
  <li>Checking and verifying the mortgage status of land </li><br>
  <li>Registering new mortgage on land parcels </li><br>
  <li>Updating mortgage status of land parcels </li><br></h3>
	</aside>
  <div>
  <div style="background-image: url(welcome.jpg); background-repeat: no-repeat; background-size: 99% 99%;">
   <img src="https://lh3.googleusercontent.com/lOQ_iNOro8FofEscwbGlMb11OUEDMSS7r9R-EjASnCvwDMud-APG5TKQC2w-JJaBeQ=s128" alt="Futa Logo" width="60" height="60" style="vertical-align: middle; margin-left:20px;">
   <!-- <p> -->
       <h2>___WELCOME TO LAND VERIFICATION AND MORTGAGE REGISTRATION SYSTEM HOME PAGE 
   PRESENTED TO FUTA BY AKINSE AYO AKINTUNDE. YOU CAN NOW VERIFY AND REGISTER YOUR
    MORTGAGE ON ANY LAND AFTER PRESENTING NECESSARY DOCUMENTS.</h2>
<!-- </p> -->
  </div>
  </div>
</section>

<footer>
<a>© &nbsp &nbsp Akinse Ayo 2019</a>
</footer>
<!-- </body>
</html> -->
