
.myButton{
    background-color: #f7471b;
    color: #ffffff;
    margin-left: 10px;
    margin-top: 10px;
    /* float: right;
    margin-right:30px; */
    /* box-shadow: #555353 1px 1px 0px 1px; */
}